{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Estoque Vidros Vidraçaria Lira's</h1>

<!-- Formulário de Pesquisa -->
<form method="POST" class="form-inline mb-3">
    <input type="text" name="pesquisa" class="form-control mr-2" placeholder="Pesquisar vidro" required>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Altura (cm)</th>
            <th>Largura (cm)</th>
            <th>Preço por m² (R$)</th>
            <th>Área (m²)</th>
            <th>Valor Total (R$)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for vidro in vidros %}
        <tr>
            <td>{{ vidro.nome }}</td>
            <td>{{ vidro.altura }}</td>
            <td>{{ vidro.largura }}</td>
            <td>R$ {{ "%.2f"|format(vidro.preco_m2) }}</td>
            <td>{{ "%.2f"|format(vidro.area) }}</td>
            <td>R$ {{ "%.2f"|format(vidro.preco_m2 * vidro.area) }}</td>
            <td>
                <a href="{{ url_for('editar_vidro', id=vidro.id) }}" class="btn btn-sm btn-warning">Editar</a>
                <form action="{{ url_for('excluir_vidro', id=vidro.id) }}" method="POST" style="display:inline;" id="delete-form-{{ vidro.id }}">
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete({{ vidro.id }})">Excluir</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-4">
    <a href="/estoque_vidros" class="btn btn-secondary">Voltar</a> <!-- Botão Voltar -->
    <a href="/adicionar_vidro" class="btn btn-success">Adicionar Vidro</a>
</div>

<script>
    function confirmDelete(id) {
        if (confirm('Tem certeza que deseja excluir este vidro?')) {
            // Envia o formulário de exclusão
            document.getElementById('delete-form-' + id).submit();
        }
    }
</script>

{% endblock %}
