{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Estoque Vidraçaria Lira's</h1>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Estoque Mínimo</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr {% if produto[3] < produto[5] %}class="table-danger"{% endif %}>
            <td>{{ produto[0] }}</td>
            <td>{{ produto[1] }}</td>
            <td>{{ produto[2] }}</td>
            <td>{{ produto[3] }}</td>
            <td>R$ {{ produto[4] }}</td>
            <td>{{ produto[5] }}</td>
            <td><a href="/editar/{{ produto[0] }}" class="btn btn-sm btn-warning">Editar Estoque</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="/adicionar" class="btn btn-success mt-4">Adicionar Produto</a>
{% endblock %}
